
a{
	margin:auto;
	color: #337ab7;
	text-decoration: none;
	font-size: 14px;
}

body{
	font-family: 'Roboto',sans-serif;
	background-color: #002654;
}
img{
  height: auto;

}

h1{
	font-weight: normal;
	font-size: 2.25em;
	height: .6em;
	line-height: .84em;
	color: #333;
}

.label {
  float: left;
  width: 25%;
  margin-top: 6px;
  font-size: 14px;
  text-align: left;
}

.inputbox {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.GWCyberSpacing{
	width: 84.5%;
	margin-bottom: 40px;
	padding-right:10px;
	padding-left:10px;
	margin-right:auto;
	margin-left:auto;
	margin-top:20px;
	margin-bottom:60px;
}

.well {
	min-height: 20px;
	padding:19px;
	background-color:#f5f5f5;
	border:1px solid #e3e3e3;
	border-radius:4px;
	box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.05);

}

.container{
	padding-right:10px;
	padding-left:10px;
	margin-right:auto;
	margin-left:auto;
	margin-top:20px;
	margin-bottom:21px;
}
.text-center{
	text-align:center
}

.slideshowContainer{
	min-height: 20px;
	padding:19px;
	background-color:#f5f5f5;
	border:1px solid #e3e3e3;
	border-radius:4px;
	box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
}
