
a{
	margin:auto;
}

body{
	font-family: 'Roboto',sans-serif;
	background-color: #002654;
}
img{
  max-width:100%;
  height: auto;

}

.label {
  float: left;
  width: 25%;
  margin-top: 6px;
  font-size: 14px;
  text-align: left;
}

.inputbox {
  float: left;
  width: 75%;
  margin-top: 6px;
}
